<!--
 =========================================================
* Material Dashboard 2 PRO - v3.0.2
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro 
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="material-dashboard-master/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="material-dashboard-master/assets/img/favicon.png">
	<base href="http://<?php echo $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>">
	<title>
		後台
	</title>
	<?php echo $header; ?>
</head>

<body class="g-sidenav-show bg-gray-200" ng-app="Admin">
	<!-- Extra details for Live View on GitHub Pages -->
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"> </iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<?php echo $aside; ?>
	<main class="main-content max-height-vh-100 h-100">
		<?php echo $nav; ?>
		<div ng-controller="AdminController as Admin">
			<div class="container-fluid my-3 py-3">
				<div class="row mb-5">
					<div class="col-lg-3">
						<div class="input-group input-group-outline" ng-class="(Admin.Search)?'is-filled':''">
							<label class="form-label">Search here</label>
							<input type="text" class="form-control" ng-model="Admin.Search">
						</div>
						<div class="card position-sticky top-1" style="height: 70vh;overflow: scroll;padding-top:1.25rem;">
						<div class="timeline timeline-one-side">
								<div class="timeline-block mb-3"ng-repeat=" item in Admin.ArticleList_List | filter : Admin.Search" ng-click="Admin.Input_StoryList = item;">
									<span class="timeline-step">
										<i class="material-icons text-success text-gradient">{{item.title[0]}}</i>
									</span>
									<div class="timeline-content">
									<div ng-show="item.offshelf" class="btn btn-link text-danger px-0" style="float: right;margin: 0 2rem;" aria-hidden="false">
										<i class="material-icons">delete</i>
									</div>
									<span class="nav-link text-dark d-flex" data-scroll="" ng-click="Admin.Input_ArticleList = item;">

										<div class="">
											<p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
												{{item.story_name}}
											</p>
											<h6 class="text-dark font-weight-bold mb-0">{{item.title}}</h6>

											<p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
												<a ng-href="{{item.youtube_link}}" target="_blank">{{item.music_name}}</a>
												<span class="mb-2 text-s " ng-class="(item.music_filecheck)?'text-gradient text-success text-xs':''">
													<i class="fas fa-check"></i> </span>
											</p>
											
										</div>
									</span>
									</div>

								</div>

							</div>
							
						</div>
					</div>
					<div class="col-lg-9 mt-lg-0 mt-4">
						<!-- Card Profile -->

						<!-- Card Basic Info -->
						<div class="card mt-4" id="basic-info">
							<div class="card-header">
								<div class="d-flex flex-column">
									<div class="d-flex jusitfy-content-between">
										<div class="fw-bold fs-5">文章管理</div>
										<div class="ms-auto text-end">
											<a class="btn btn-link text-dark px-3 mb-0" ng-click="Admin.Edit()"><i class="material-icons text-sm me-2">edit</i>編輯/新增</a>

										</div>
									</div>
									<span class="mb-2 text-s " ng-class="(Admin.Input_ArticleList.story_name)?'text-gradient text-success text-xs':''">
										<i class="fas fa-check"></i> 書本名稱: <span class="text-dark font-weight-bold ms-sm-2">{{Admin.Input_ArticleList.story_name}}</span></span>
									<span class="mb-2 text-s " ng-class="(Admin.Input_ArticleList.title)?'text-gradient text-success text-xs':''">
										<i class="fas fa-check"></i> 文章標題: <span class="text-dark font-weight-bold ms-sm-2">{{Admin.Input_ArticleList.title}}</span></span>
									<span class="mb-2 text-s " ng-class="(Admin.Input_ArticleList.tags)?'text-gradient text-success text-xs':''">
										<i class="fas fa-check"></i> 文章標籤: <span class="text-dark font-weight-bold ms-sm-2">{{Admin.Input_ArticleList.tags}}</span></span>
									<span class="mb-2 text-s " ng-class="(Admin.Input_ArticleList.youtube_link)?'text-gradient text-success text-xs':''">
										<i class="fas fa-check"></i> YouTuBe 連結: <span class="text-dark font-weight-bold ms-sm-2">{{Admin.Input_ArticleList.youtube_link}}</span></span>
									<span class="mb-2 text-s " ng-class="(Admin.Input_ArticleList.music_name)?'text-gradient text-success text-xs':''">
										<i class="fas fa-check"></i> 音樂歌曲名稱: <span class="text-dark font-weight-bold ms-sm-2">{{Admin.Input_ArticleList.music_name}}</span></span>

								</div>

							</div>
							<div class="card-body pt-0">
								<div class="row">
									<div class="col-6 align-self-center">
										<label class="form-label mt-4 ms-0">書本名稱</label>
										<md-input-container>
											<md-select ng-model="Admin.Input_ArticleList.story_name" aria-label="Select">
												<md-option>
													<em>None</em>
												</md-option>
												<md-option ng-repeat="item in Admin.StoryName" ng-value="item">
													{{item}}
												</md-option>
											</md-select>
										</md-input-container>
									</div>
									<div class="col-6">
										<div class="input-group input-group-static">
											<label>文章標題</label>
											<input type="text" class="form-control" placeholder="文章標題" ng-model="Admin.Input_ArticleList.title">
										</div>
									</div>
									<div class="row">
										<label>文章標籤</label>
										<md-chips ng-model="Admin.Input_ArticleList.tags">
										</md-chips>
									</div>
									<div class="col-6">
										<div class="input-group input-group-static">
											<label>音樂歌曲名稱</label>
											<input type="text" class="form-control" placeholder="音樂歌曲名稱" ng-model="Admin.Input_ArticleList.music_name">
										</div>
									</div>
									<div class="col-6">
										<div class="input-group input-group-static">
											<label>YouTuBe 連結</label> <span ng-click="Admin.getYouTubeTitle()"> <i class="fa fa-download" aria-hidden="true"></i> </span>
											<input type="text" class="form-control" placeholder="路徑名稱" ng-change="Admin.getYouTubeTitle()" ng-model="Admin.Input_ArticleList.youtube_link">

										</div>
									</div>

									<div class="col-6">
										<div class="input-group input-group-static">
											<label>音樂歌曲路徑</label>
											<input type="text" class="form-control" placeholder="音樂歌曲路徑" ng-model="Admin.Input_ArticleList.music_mp3_filepath">
										</div>
									</div>
									<div class="row">
										<div class="input-group input-group-static">
											<label>文章內容</label>
											<textarea class="form-control" placeholder="文章內容" rows="10" ng-model="Admin.Input_ArticleList.article_textarea"></textarea>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-check form-switch ms-2 my-auto">
										<label class="form-label mt-4 ms-0">禁止呼叫設定</label>
										<input class="form-check-input" type="checkbox" value="1" ng-model="Admin.Input_ArticleList.offshelf" checked>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</main>

	<script>
		adonis.controller('AdminController', ['sharedData', '$scope', '$http', function(sharedData, $scope, $http) {
			var Admin = this;
			if (location.pathname == "/logout") location.href = '';
			Admin.ReDirect = function(ReDirect) {
				console.info(ReDirect);
				sharedData.ReDirect(ReDirect);
			}
			Admin.Logout = function() {
				console.info("adoni");
				sharedData.Logout(ReDirect);
			}

			Admin.Input_ArticleList = {};
			Admin.Input_ArticleList.tags = ["神話", "童話", "親子", "兒童", "冒險", "奇幻", "幻想"];
			Admin.Input_ArticleList.UniqueID = "";
			Admin.Input_ArticleList.offshelf = false;

			Admin.ArticleListPages = {};

			Admin.Search = "";

			Admin.ArticleList = function() {
				var ArticleList = {
					"UniqueID": "",
					'Pages': Admin.ArticleListPages
				}
				var data = {
					'UniqueID': '',
					'Action': 'ArticleList',
					'Data': JSON.stringify(ArticleList)
				}
				var promise = sharedData.List(data);

				promise.then(function(data) { // 呼叫承諾API獲取資料 .resolve  
					Admin.ArticleList_List = data.List;
					Admin.ArticleListPages = data.Pages;
				}, function(data) { // 處理錯誤 .reject  
					console.info(data);
				});
			};
			Admin.ArticleList();

			Admin.StoryListPages = {};

			Admin.Search = "";

			Admin.StoryName = function() {
				var StoryList = {
					"UniqueID": "",
				}
				var data = {
					'UniqueID': '',
					'Action': 'StoryName',
					'Data': JSON.stringify(StoryList)
				}
				var promise = sharedData.List(data);

				promise.then(function(data) { // 呼叫承諾API獲取資料 .resolve  
					Admin.StoryName = data.List;
				}, function(data) { // 處理錯誤 .reject  
					console.info(data);
				});
			};
			Admin.StoryName();



			Admin.getYouTubeTitle = function() {
				var data = {
					'UniqueID': '',
					'Action': 'getYouTubeTitle',
					'Data': JSON.stringify(Admin.Input_ArticleList)
				}
				var promise = sharedData.List(data);

				promise.then(function(data) { // 呼叫承諾API獲取資料 .resolve  
					console.info(data);
					Admin.Input_ArticleList = data.List;

					window.open(Admin.Input_ArticleList.music_mp3_link, "_blank");
				}, function(data) { // 處理錯誤 .reject  
					console.info(data);
				});
			};


			Admin.Edit = function() {
				var data = {
					'UniqueID': '',
					'Action': 'Input_ArticleList',
					'Data': JSON.stringify(Admin.Input_ArticleList)
				}
				sharedData.Edit(data);
				Admin.ArticleList();

			};

		}]);
	</script>
	<!--   Core JS Files   -->
	<script src="material-dashboard-master/assets/js/core/popper.min.js"></script>
	<script src="material-dashboard-master/assets/js/core/bootstrap.min.js"></script>
	<script src="material-dashboard-master/assets/js/plugins/perfect-scrollbar.min.js"></script>
	<script src="material-dashboard-master/assets/js/plugins/smooth-scrollbar.min.js"></script>
	<script src="material-dashboard-master/assets/js/plugins/choices.min.js"></script>
	<!-- Kanban scripts -->
	<script src="material-dashboard-master/assets/js/plugins/dragula/dragula.min.js"></script>
	<script src="material-dashboard-master/assets/js/plugins/jkanban/jkanban.js"></script>

	<script>
		if (document.getElementById('choices-gender')) {
			var gender = document.getElementById('choices-gender');
			const example = new Choices(gender);
		}

		if (document.getElementById('choices-language')) {
			var language = document.getElementById('choices-language');
			const example = new Choices(language);
		}

		if (document.getElementById('choices-skills')) {
			var skills = document.getElementById('choices-skills');
			const example = new Choices(skills, {
				delimiter: ',',
				editItems: true,
				maxItemCount: 20,
				removeItemButton: true,
				addItems: true
			});
		}
	</script>
	<script>
		var win = navigator.platform.indexOf('Win') > -1;
		if (win && document.querySelector('#sidenav-scrollbar')) {
			var options = {
				damping: '0.5'
			}
			Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
		}
	</script>
	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="material-dashboard-master/assets/js/material-dashboard.min.js?v=3.0.2"></script>
</body>
</body>

</html>