 <div class="container-fluid mt-4">
      <div class="row align-items-center">       
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-pills nav-fill p-1" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 " ng-click="Admin.ReDirect('Input_checkKeys');" role="tab" aria-selected="true">
                系統參數
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 " ng-click="Admin.ReDirect('Input_checkKeysRule');" role="tab" aria-selected="true">
                系統權限
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" ng-click="Admin.ReDirect('Input_Accounts');" role="tab" aria-selected="false">
                系統帳號
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" ng-click="Admin.ReDirect('Input_RedirectAdmin');" role="tab" aria-selected="false">
                系統頁面
              </a>
            </li>           
          </ul>
        </div>        
      </div>
    </div>