<aside ng-controller="AsideController as Aside" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" http://susu.adonis.tw " target="_blank">
        <img src="icon.jpg" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">後台</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">        
      <li class="nav-item">
          <a data-bs-toggle="collapse" href="#componentsExamples" class="nav-link text-white " aria-controls="componentsExamples" role="button" aria-expanded="false">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">view_in_ar</i>
            <span class="nav-link-text ms-2 ps-1">小說功能</span>
          </a>
          <div class="collapse " id="componentsExamples">
            <ul class="nav ">
              <li class="nav-item ">
                <a class="nav-link text-white " href="#" ng-click="Aside.ReDirect('Input_StoryList')">
                  <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">person</i>
                  <span class="sidenav-normal  ms-2  ps-1"> 書本管理 </span>
                </a>
              </li>   
              <li class="nav-item ">
                <a class="nav-link text-white " href="#" ng-click="Aside.ReDirect('Input_ArticleList');">
                  <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">note_add</i>
                  <span class="sidenav-normal  ms-2  ps-1"> 文章管理</span>
                </a>
              </li>

              
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#componentsExamples" class="nav-link text-white " aria-controls="componentsExamples" role="button" aria-expanded="false">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">view_in_ar</i>
            <span class="nav-link-text ms-2 ps-1">後台功能</span>
          </a>
          <div class="collapse " id="componentsExamples">
            <ul class="nav ">
              <li class="nav-item ">
                <a class="nav-link text-white " href="#" ng-click="Aside.ReDirect('List_account')">
                  <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">person</i>
                  <span class="sidenav-normal  ms-2  ps-1"> 後台管理員列表 </span>
                </a>
              </li>   
              <li class="nav-item ">
                <a class="nav-link text-white " href="#" ng-click="Aside.ReDirect('Input_checkKeys');">
                  <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">note_add</i>
                  <span class="sidenav-normal  ms-2  ps-1"> 後台管理</span>
                </a>
              </li>

              
            </ul>
          </div>
        </li>
        <hr class="horizontal light mt-0"> 
        <li class="nav-item">
           <a class="nav-link text-white " href="#" ng-click="Aside.ReDirect('List_ActionLogs')">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">receipt_long</i>
            <span class="nav-link-text ms-2 ps-1">系統呼叫紀錄</span>
          </a>
        </li>
      </ul>
    </div>
   <script>
        adonis.controller('AsideController',['sharedData', '$scope', function(sharedData, $scope, $http) {
                var Aside = this;
                
                 
                Aside.ReDirect = function(ReDirect) {
                    sharedData.ReDirect(ReDirect);
                }
                

          }]);
    </script>
  </aside>
  